<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      
      
    </section>
  </aside>
</div>
<%= link_to 'new item', new_item_path %>

  <div class="row grid span8">
    <% @entertainment_items.each_with_index do |entertainment_item, index| %>
      <div  data-item-id=<%= "#{entertainment_item.id}" %>  class="well span2 tile <%= entertainment_item.entertainment_item_type.css_class %>">
        <div><h3><span id="test<%= index + 1 %>" class="index"><%= index + 1 %></span><%= entertainment_item.name %></h3></div>
        <div><%= entertainment_item.description %></div>
      </div>
    <% end %>
  </div>
  
  
